<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check – Projeto TH</title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Feed para Projeto TH »" href="./../feed/index.html">
    <link rel="alternate" type="application/rss+xml" title="Feed de comentários para Projeto TH »" href="./../comments/feed/index.html">
    <script>
        var pagelayer_ajaxurl = "./wp-admin/admin-ajax.php?";
        var pagelayer_global_nonce = "af10ec4689";
        var pagelayer_server_time = 1625922133;
        var pagelayer_is_live = "";
        var pagelayer_facebook_id = "";
        var pagelayer_settings = { "post_types": ["post", "page"], "enable_giver": "1", "max_width": 1170, "tablet_breakpoint": 768, "mobile_breakpoint": 360, "sidebar": false, "body_font": false, "color": false };
        var pagelayer_recaptch_lang = "";
    </script>
    @RenderSection("Head", true)

</head>
<body class="page-template-default page page-id-213 popularfx-body pagelayer-body elementor-default elementor-kit-22 elementor-page elementor-page-213 e--ua-blink e--ua-chrome e--ua-webkit" data-elementor-device-mode="desktop">
    <div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
        <div data-elementor-type="wp-post" data-elementor-id="20" class="elementor elementor-20" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-16a554c elementor-section-full_width elementor-section-height-min-height elementor-section-stretched ops-section elementor-section-height-default elementor-section-items-middle" data-id="16a554c" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll&quot;:&quot;section&quot;}" style="width: 1903px; left: 0px;">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0d495d3" data-id="0d495d3" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-cdf2079 elementor-widget elementor-widget-image" data-id="cdf2079" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <a href="https://www.sistemasth.com.br/">
                                            <img width="300" height="300" src="./../wp-content/uploads/2021/07/logo.svg" class="attachment-medium size-medium" alt="" loading="lazy" srcset="./../wp-content/uploads//2021/07/logo.svg 150w, ./../wp-content/uploads//2021/07/logo.svg 300w, ./../wp-content/uploads//2021/07/logo.svg 1024w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-0a5a182" data-id="0a5a182" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-8950acc elementor-section-full_width elementor-section-height-min-height elementor-section-content-top elementor-section-stretched elementor-section-height-default elementor-section-items-middle" data-id="8950acc" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: 0px;">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1c0293b" data-id="1c0293b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-c190e2a elementor-widget elementor-widget-image" data-id="c190e2a" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="2048" height="400" src="./../wp-content/uploads/2021/07/bg-header.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" srcset="./../wp-content/uploads/2021/07/bg-header.jpg 2048w, ./../wp-content/uploads/2021/07/bg-header-300x59.jpg 300w, ./../wp-content/uploads/2021/07/bg-header-1024x200.jpg 1024w, ./../wp-content/uploads/2021/07/bg-header-768x150.jpg 768w, ./../wp-content/uploads/2021/07/bg-header-1536x300.jpg 1536w" sizes="(max-width: 2048px) 100vw, 2048px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-69d93a2 elementor-section-height-min-height elementor-section-content-middle elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-items-middle" data-id="69d93a2" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: 0px;">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-05ced41" data-id="05ced41" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-16ee8e6" data-id="16ee8e6" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-f6ea59b elementor-widget elementor-widget-image" data-id="f6ea59b" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="1024" height="1024" src="./../wp-content/uploads/2021/07/icone_demo.svg" class="attachment-large size-large" alt="" loading="lazy" srcset="./../wp-content/uploads//2021/07/icone_demo.svg 150w, ./../wp-content/uploads//2021/07/icone_demo.svg 300w, ./../wp-content/uploads//2021/07/icone_demo.svg 1024w" sizes="(max-width: 1024px) 100vw, 1024px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-25a1329" data-id="25a1329" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7a5d56e elementor-widget elementor-widget-heading" data-id="7a5d56e" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Soluções TH</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b11e1fe" data-id="b11e1fe" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- #main -->
    <div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
        <div data-elementor-type="wp-post" data-elementor-id="97" class="elementor elementor-97" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-b4fda6e elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="b4fda6e" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1903px; left: 0px;">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9cd839b" data-id="9cd839b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-2744181 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2744181" data-element_type="widget" data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-3208321 elementor-section-full_width elementor-section-height-min-height elementor-section-items-top elementor-section-height-default" data-id="3208321" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-bcd0630" data-id="bcd0630" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-a4f1055 elementor-widget elementor-widget-image" data-id="a4f1055" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="1024" height="1024" src="./../wp-content/uploads/2021/07/logo.svg" class="attachment-large size-large" alt="" loading="lazy" srcset="./../wp-content/uploads//2021/07/logo.svg 150w, ./../wp-content/uploads//2021/07/logo.svg 300w, ./../wp-content/uploads//2021/07/logo.svg 1024w" sizes="(max-width: 1024px) 100vw, 1024px">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-c54b519 elementor-widget elementor-widget-heading" data-id="c54b519" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Redes Sociais</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-cc3f631 elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="cc3f631" data-element_type="widget" data-widget_type="social-icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-social-icons-wrapper elementor-grid">
                                            <div class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-96bc9ab" target="_blank">
                                                    <span class="elementor-screen-only">Facebook</span>
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </div>
                                            <div class="elementor-grid-item">
                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-e0b5157" target="_blank">
                                                    <span class="elementor-screen-only">Linkedin</span>
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-285d234" data-id="285d234" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-f2fb02e elementor-widget elementor-widget-text-editor" data-id="f2fb02e" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p><strong>Institucional</strong></p>
                                        <p><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/quem-somos/">Quem Somos</a></span><br><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/governanca/">Governança</a></span><br><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/blog/">Blog</a></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-3fdbe75" data-id="3fdbe75" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-1de6138 elementor-widget elementor-widget-text-editor" data-id="1de6138" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p><span style="color: #808080;"><strong>Segmentos</strong></span></p>
                                        <p><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/transporte/">Logística &amp; Transporte</a><br></span><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/risco-fraude/">Risco &amp; fraude</a><br></span><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/cobranca-e-recuperacao-de-credito/">Cobrança &amp; Recuperação de Crédito</a><br></span><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/e-commerce-marketplace/">E-commerce &amp; Marketplace</a><br></span><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/mercado-financeiro/">Mercado Financeiro</a></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-4c5c9eb" data-id="4c5c9eb" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-d4ea319 elementor-widget elementor-widget-text-editor" data-id="d4ea319" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="item">
                                            <p><span style="color: #808080;"><strong>Soluções</strong></span></p>
                                            <p><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/th-hub/" aria-current="page">TH Hub</a></span><br><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/linked-data/">Linked Data</a></span><br><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/right-on-data/">Right on data</a></span><br><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/quality-data/">Quality data</a></span></p>
                                        </div>
                                        <div class="item">
                                            <div class="contato">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-afca63b" data-id="afca63b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-5ec2d94 elementor-widget elementor-widget-text-editor" data-id="5ec2d94" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p><strong><span style="color: #808080;">Fale conosco</span></strong></p>
                                        <p><span style="color: #808080;"><a style="color: #808080;" href="https://www.sistemasth.com.br/contato/" target="_blank" rel="noopener">Contato</a></span></p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-b23abbd elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b23abbd" data-element_type="widget" data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-9bf41e5 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9bf41e5" data-element_type="widget" data-widget_type="icon-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-box-wrapper">
                                            <div class="elementor-icon-box-icon">
                                                <span class="elementor-icon elementor-animation-">
                                                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                </span>
                                            </div>
                                            <div class="elementor-icon-box-content">
                                                <div class="elementor-icon-box-title">
                                                    <span>11-3876-1686</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", true)

    <script src="./js/site.js"></script>
</body>
</html>