@model Model.Info.Data


<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-78470ff" data-id="78470ff" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-d8c5520 elementor-view-default elementor-widget elementor-widget-icon" data-id="d8c5520" data-element_type="widget" data-widget_type="icon.default">
            <div class="elementor-widget-container">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i aria-hidden="true" class="far fa-address-card"></i>			</div>
                </div>
            </div>
        </div>
        <section class="elementor-section elementor-inner-section elementor-element elementor-element-52ca3cb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="52ca3cb" data-element_type="section">
            <div class="elementor-container elementor-column-gap-narrow">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0619105" data-id="0619105" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-8ee56cb elementor-widget elementor-widget-mf-checkbox" data-id="8ee56cb" data-element_type="widget" data-settings="{&amp;quot;mf_input_name&amp;quot;:&amp;quot;mf-checkbox&amp;quot;}" data-widget_type="mf-checkbox.default">
                            <div class="elementor-widget-container">
                                <div class="mf-input-wrapper">
                                    <div class="mf-checkbox multi-option-input-type" id="mf-input-checkbox-8ee56cb">
                                        <div class="mf-checkbox-option ">
                                            <span style="display:none" class="bs-tooltip-auto">
                                                @Model.Observacoes
                                            </span>
                                            <label>
                                                @Model.Descricao
                                                <input type="checkbox" class="mf-input mf-checkbox-input " name="mf-checkbox" data-checked="" aria-invalid="false" value="value-1">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
