
.elementor-265 .elementor-element.elementor-element-7d89015:not(.elementor-motion-effects-element-type-background),
.elementor-265 .elementor-element.elementor-element-7d89015 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-265 .elementor-element.elementor-element-7d89015 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-265 .elementor-element.elementor-element-7d89015 > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-265 .elementor-element.elementor-element-53bac29 > .elementor-element-populated {
    margin: 0px 55px 0px 60px;
}

.elementor-265 .elementor-element.elementor-element-8705150 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-265 .elementor-element.elementor-element-c98e3e3 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-265 .elementor-element.elementor-element-c98e3e3.elementor-view-stacked .elementor-icon {
    background-color: #2B2B52;
}

.elementor-265 .elementor-element.elementor-element-c98e3e3.elementor-view-framed .elementor-icon,
.elementor-265 .elementor-element.elementor-element-c98e3e3.elementor-view-default .elementor-icon {
    color: #2B2B52;
    border-color: #2B2B52;
}

    .elementor-265 .elementor-element.elementor-element-c98e3e3.elementor-view-framed .elementor-icon,
    .elementor-265 .elementor-element.elementor-element-c98e3e3.elementor-view-default .elementor-icon svg {
        fill: #2B2B52;
    }

.elementor-265 .elementor-element.elementor-element-c98e3e3 .elementor-icon i,
.elementor-265 .elementor-element.elementor-element-c98e3e3 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-bc-flex-widget .elementor-265 .elementor-element.elementor-element-c580808.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-265 .elementor-element.elementor-element-c580808.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-265 .elementor-element.elementor-element-5604369 {
    text-align: left;
}

    .elementor-265 .elementor-element.elementor-element-5604369 .elementor-heading-title {
        color: #919292;
        font-family: "Source Sans Pro", Sans-serif;
        font-weight: 500;
    }

.elementor-265 .elementor-element.elementor-element-e4a7d0e {
    --divider-border-style: solid;
    --divider-color: #CDCDCD;
    --divider-border-width: 1px;
}

    .elementor-265 .elementor-element.elementor-element-e4a7d0e .elementor-divider-separator {
        width: 100%;
    }

    .elementor-265 .elementor-element.elementor-element-e4a7d0e .elementor-divider {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .elementor-265 .elementor-element.elementor-element-e4a7d0e > .elementor-widget-container {
        margin: -12px 0px -12px 0px;
    }

.elementor-265 .elementor-element.elementor-element-2733c84 > .elementor-container {
    min-height: 0px;
}

.elementor-265 .elementor-element.elementor-element-2733c84:not(.elementor-motion-effects-element-type-background),
.elementor-265 .elementor-element.elementor-element-2733c84 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FBFBFB;
}

.elementor-265 .elementor-element.elementor-element-2733c84 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-265 .elementor-element.elementor-element-2733c84 > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-265 .elementor-element.elementor-element-3291da4 > .elementor-container {
    min-height: 0px;
}

.elementor-265 .elementor-element.elementor-element-3291da4:not(.elementor-motion-effects-element-type-background),
.elementor-265 .elementor-element.elementor-element-3291da4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FBFBFB;
}

.elementor-265 .elementor-element.elementor-element-3291da4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 50px 0px 50px;
    z-index: 1;
}

    .elementor-265 .elementor-element.elementor-element-3291da4 > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-265 .elementor-element.elementor-element-28a6ead:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E5E5E5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-element-populated,
    .elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-element-populated > .elementor-background-overlay,
    .elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-background-slideshow {
        border-radius: 15px 15px 15px 15px;
    }

        .elementor-265 .elementor-element.elementor-element-28a6ead > .elementor-element-populated > .elementor-background-overlay {
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        }

.elementor-265 .elementor-element.elementor-element-056521e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-265 .elementor-element.elementor-element-056521e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-265 .elementor-element.elementor-element-056521e > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E5E5E5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-265 .elementor-element.elementor-element-056521e > .elementor-element-populated,
    .elementor-265 .elementor-element.elementor-element-056521e > .elementor-element-populated > .elementor-background-overlay,
    .elementor-265 .elementor-element.elementor-element-056521e > .elementor-background-slideshow {
        border-radius: 15px 15px 15px 15px;
    }

        .elementor-265 .elementor-element.elementor-element-056521e > .elementor-element-populated > .elementor-background-overlay {
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        }

.elementor-265 .elementor-element.elementor-element-e561c3c {
    font-family: "Source Sans Pro", Sans-serif;
    font-weight: 400;
}

.elementor-265 .elementor-element.elementor-element-fed2bc2:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E5E5E5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-element-populated,
    .elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-element-populated > .elementor-background-overlay,
    .elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-background-slideshow {
        border-radius: 15px 15px 15px 15px;
    }

        .elementor-265 .elementor-element.elementor-element-fed2bc2 > .elementor-element-populated > .elementor-background-overlay {
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        }

.elementor-265 .elementor-element.elementor-element-d3e681d .ea-advanced-data-table {
    width: 100%;
/*    font-size: 24PX;*/
}

.elementor-265 .elementor-element.elementor-element-d3e681d th {
    text-align: left;
    color: #444444;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eeeeee;
}

    .elementor-265 .elementor-element.elementor-element-d3e681d th .ql-editor {
        text-align: left;
    }

    .elementor-265 .elementor-element.elementor-element-d3e681d th:before {
        border-bottom-color: #444444;
    }

    .elementor-265 .elementor-element.elementor-element-d3e681d th:after {
        border-top-color: #444444;
    }

.elementor-265 .elementor-element.elementor-element-d3e681d thead {
    background-color: #fbfbfb;
}

.elementor-265 .elementor-element.elementor-element-d3e681d .ea-advanced-data-table th {
    padding: 10px 10px 10px 10px;
}

.elementor-265 .elementor-element.elementor-element-d3e681d td {
    text-align: left;
    color: #000000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eeeeee;
}

    .elementor-265 .elementor-element.elementor-element-d3e681d td .ql-editor {
        text-align: left;
    }

.elementor-265 .elementor-element.elementor-element-d3e681d tbody {
    background-color: #ffffff;
}

.elementor-265 .elementor-element.elementor-element-d3e681d .ea-advanced-data-table td {
    padding: 10px 10px 10px 10px;
}

.elementor-265 .elementor-element.elementor-element-2772c83:not(.elementor-motion-effects-element-type-background),
.elementor-265 .elementor-element.elementor-element-2772c83 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FBFBFB;
}

.elementor-265 .elementor-element.elementor-element-2772c83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

    .elementor-265 .elementor-element.elementor-element-2772c83 > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-265 .elementor-element.elementor-element-9456b17 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 19px;
}

.elementor-265 .elementor-element.elementor-element-9456b17 > .elementor-element-populated {
    margin: 0px 15px 0px 55px;
}

.elementor-265 .elementor-element.elementor-element-9065075 > .elementor-widget-container {
    margin: 0px 0px 7px 0px;
}

.elementor-265 .elementor-element.elementor-element-54cd04e > .elementor-widget-container {
    margin: 0px 0px 7px 0px;
}

@media(min-width:768px) {
    .elementor-265 .elementor-element.elementor-element-53bac29 {
        width: 100%;
    }

    .elementor-265 .elementor-element.elementor-element-8705150 {
        width: 5.964%;
    }

    .elementor-265 .elementor-element.elementor-element-c580808 {
        width: 93.992%;
    }

    .elementor-265 .elementor-element.elementor-element-28a6ead {
        width: 46.889%;
    }

    .elementor-265 .elementor-element.elementor-element-03b2d7b {
        width: 2.111%;
    }

    .elementor-265 .elementor-element.elementor-element-056521e {
        width: 33%;
    }

    .elementor-265 .elementor-element.elementor-element-16b5c43 {
        width: 2%;
    }

    .elementor-265 .elementor-element.elementor-element-fed2bc2 {
        width: 38%;
    }

    .elementor-265 .elementor-element.elementor-element-9456b17 {
        width: 33.544%;
    }

    .elementor-265 .elementor-element.elementor-element-76a7f75 {
        width: 82.456%;
    }
}

@media(max-width:1024px) {
    .elementor-265 .elementor-element.elementor-element-d3e681d .ea-advanced-data-table {
        width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-265 .elementor-element.elementor-element-d3e681d .ea-advanced-data-table {
        width: 100%;
    }
}
