@model RazorAppTH.Model.Info.Data

<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-d3e681d ea-advanced-data-table-sortable" data-id="d3e681d">
    <thead>
        <tr>
            <th>
                <p>CONSULTA</p>
            </th>
            <th>
                <p>RESULTADO</p>
            </th>
        </tr>
    </thead>
</table>
<tbody>
    <tr>
        <td>
            <p>NOME:</p>
        </td>
        <td>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXX</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>E-MAIL:</p>
        </td>
        <td>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXX</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>NOME ADICIONAL:</p>
        </td>
        <td>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXX</p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</tbody>