@using RazorApp.TH.Model.OpenGateway
@using Web.Services
@model RazorApp.TH.Model.OpenGatewayModel  
<link href="/css/progressbar.css" rel="stylesheet" />
<style>


    .ball {
        left: @(Convert.ToInt32(Model.ScoreData.data.statsResult.score / 10))%!important;
    }
 
</style>
 
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-d3e681d ea-advanced-data-table-sortablex font-size-th" data-id="d3e681d">
    <thead>
        <tr>
            <th>
                <p>Score</p>
            </th> 
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @*<p>@Model.ScoreData.data.statsResult.score</p>*@
                <div id="progress_main">
                    <div id="progress_container">
                        <span class="location"></span>
                        <div class="child progress">
                            <div class="per">
                            </div>

                        </div>

                        <div class="child shrinker timelapse"></div>
                    </div>
                    <div class="pin">

                        <span class="ball">
                            <span class="number">@Model.ScoreData.data.statsResult.score</span>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
 