@model RazorApp.TH.Model.OpenGatewayModel
 
<link href="/css/progressbar.css" rel="stylesheet" />
<style>


    .ball {
        left: @(Convert.ToInt32(Model.ValidaEnderecoData.data.result.score / 10))% !important;
    }
   
</style>
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-d3e681d ea-advanced-data-table-sortablex font-size-th" data-id="d3e681d">
    <thead>
        <tr>
            <th>
                <p>Score</p>
            </th>
            <th>
                <p>Mensagem</p>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                    @*<p>@Model.ScoreData.data.statsResult.score</p>*@
                    
                    <div id="progress_main">
                        <div id="progress_container">
                            <span class="location"></span>
                            <div class="child progress">
                                <div class="per">
                                </div>

                            </div>

                            <div class="child shrinker timelapse"></div>
                        </div>
                        <div class="pin">

                            <span class="ball">
                            <span class="number">@Model.ValidaEnderecoData.data.result.score</span>
                            </span>
                        </div>
                    </div>
                
            </td>
            <td>
                <p>@if (Model.ValidaEnderecoData.data.result.message.ToString().ToLower().Contains("low"))
                   {
                       <span> Baixo potencial de fraude</span>
                   } else if (Model.ValidaEnderecoData.data.result.message.ToString().ToLower().Contains("high"))
                   {
                       <span> Alto potencial de fraude</span>
                   } else
                   {
                        <span> @Model.ValidaEnderecoData.data.result.message</span>
                   } 
                </p>
            </td>
        </tr>
    </tbody>
</table>
 